.top-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    min-height: 100px;
    min-width: 100%;
    margin: 20px;
    &--logo {
        font-weight: 800;
        font-size: 34px;
        background: -webkit-linear-gradient(rgb(214, 37, 37), rgb(27, 87, 197));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        li {
            list-style: none;
            padding-right: 30px;
            a {
                text-decoration: none;
                color: #b65656;
                font-weight: 900;
                font-size: 18px;
                &:hover {
                    color: #8d1c1c;
                    text-decoration: underline;
                }
            }
        }
    }
    .bar-expense,
    .bar-cart {
        cursor: pointer;
        border: 1px solid rgb(73, 72, 72);
        padding: 10px;
        width: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        z-index: 1;
    }
    .cart-details {
        position: absolute;
        border: 1px solid rgb(73, 72, 72);
        top: 40px;
        left: 0;
        z-index: 3;
        width: 350px;
        padding: 10px;
        background: #fff;
        &--title {
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
        }
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            max-height: 300px;
            overflow: auto;
        }
        &--table {
            height: 100%;
            th {
                border: 1px solid #000;
            }
            tr {
                td {
                    min-height: 100%;
                    border: 1px solid #000;
                    .delete {
                        color: red;
                        cursor: pointer;
                        font-size: 30px;
                    }
                    img {
                        // width: 100px;
                        height: 100px;
                    }
                    &:last-child {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }
        }
        &--noProducts {
            padding: 30px 0px;
            font-weight: 900;
            color: red
        }
        &--summary {
            margin-top: 20px;
            padding-top: 20px;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            border-top: 1px solid #000;
            a {
                margin-top: 30px;
                color: #fff;
                font-weight: 800;
                font-size: 18px;
                padding: 20px;
                text-decoration: none;
                text-align: center;
                background: rgb(93, 194, 67);
                &:hover {
                    background: rgb(66, 144, 46);
                    -webkit-transition: 1s;
                    -webkit-transition: 0.1s;
                    -webkit-transition: 0.8s;
                    transition: 0.8s;
                }
            }
        }
    }
    .bar-expense {
        z-index: 1;
        color: #747474;
        background-color: rgb(219, 218, 218);
        div>span:nth-child(1) {
            border-right: 1px solid #747474;
            padding-right: 10px;
        }
        div>span:nth-child(2) {
            padding-left: 10px;
        }
    }
}

.bar-cart-container {
    position: relative;
}

@media screen and (max-width: 980px) {
    .top-navigation {
        margin-bottom: 20px;
        height: 100%;
        ul,
        .bar-cart-container {
            margin-top: 30px;
        }
        .bar-cart-container {
            margin-right: 30px;
        }
    }
}