.topMenu {
    background: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    .topMenu--telephone {
        text-transform: uppercase;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    select {
        background: #000;
        color: #fff;
        border: none;
        border-left: 1px solid rgb(138, 136, 136);
        border-right: 1px solid rgb(138, 136, 136);
        padding: 20px;
    }
    .topMenu-account {
        a,
        i {
            padding: 20px;
            border-right: 1px solid rgb(138, 136, 136);
            cursor: pointer;
        }
        a {
            text-transform: uppercase;
        }
        .search-container {
            left: 0;
            position: absolute;
            width: 100%;
            height: calc(100% - 50px);
            background: rgba(0, 0, 0, 0.835);
            z-index: 999;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .search-bar {
                min-width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                input[type=text] {
                    background: inherit;
                    border: 0;
                    border-bottom: 3px solid rgb(255, 255, 255);
                    width: 70%;
                    font-size: 30px;
                    color: #fff;
                    padding: 20px;
                }
                button {
                    background: inherit;
                    border: 0;
                    .serach_btn {
                        color: #fff;
                        font-size: 30px;
                        &:hover {
                            color: rgb(199, 199, 199);
                        }
                    }
                }
            }
        }
    }
}