.slider-container {
    position: relative;
    width: 100%;
    max-height: 100%;
    .slide-image {
        width: 100%;
    }
    .arrow-right,
    .arrow-left {
        position: absolute;
        top: 30%;
        .fas {
            font-size: 1em;
            background: #fff;
            padding: 1em 1em;
            cursor: pointer;
        }
    }
    .arrow-right {
        right: 0;
    }
}

.slider-dots-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    .fas {
        margin-right: 10px;
        color: rgb(158, 158, 158);
    }
}